$font-stack: 'Inter', sans-serif;

$background-color: #eef5fe;
$background-light-color: #e9f9ff;
$primary-color: #333333;
$secondary-color: #5f308b;
$violet-purple: #572d80;
$sidebar-item: #c8bee5;
$sidebar-item-selected: #ff9595;
$link-color: #2f80ed;
$salmon: #ff6984;
$ash-gray: #f7f7f7;
$aloof-gray: #ededed;

$main-purple: #492d9a;
$menu-text: #c8bee5;
