$font-stack: 'Inter', sans-serif;

$background-color: #eef5fe;
$background-light-color: #e9f9ff;

$primary-color: #333333;
$light-gray: #f8f8f8;
$ash-gray: #f7f7f7;
$aloof-gray: #ededed;
$more-aloof-gray: #dedede;

$link-color: #2f80ed;
$main-purple: #492d9a;
$violet-purple: #572d80;
$secondary-color: #5f308b;
$hot-red: #e21b1b;
$pink-red: #ea173c;

$salmon: #ff6984;
$sidebar-item-selected: #ff9595;
$sidebar-item: #c8bee5;
$menu-text: #c8bee5;

$lawn-green: #7ecf2e;
$pale-green: #b9f082;
$bottle-green: #1d8d37;
