@import 'base';

@media (max-width: 992px) {
}

.divider {
    width: 200%;
    height: 1.12px;
    background: $primary-color;
    opacity: 0.08;
    position: relative;
    left: -50%;
}

.user {
    .user-image {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
    }
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-decoration: inherit;
    color: inherit;
    cursor: pointer;

    &:hover,
    &:active,
    &:visited {
        text-decoration: inherit;
        color: inherit;
        cursor: pointer;
    }
    &:hover {
        opacity: 0.8;
    }

    > * {
        margin: 0.25rem;
    }
}
.btn-outline-primary {
    color: $link-color !important;
    border-color: $link-color !important;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0px;
    border-radius: 0.5rem;
    &:hover {
        color: white !important;
    }
}

.btn-primary {
    color: white !important;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    background-color: $link-color !important;
    border-color: $link-color !important;
    border-radius: 0.5rem;
    span {
        font-weight: 500;
        margin-left: 0.5rem;
        font-size: 1rem;
    }
}
.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .content {
        margin-top: 1.5rem;
        width: 75%;
        height: 300vh; //auto!
        .main-header {
            margin-top: 5rem;
            color: $primary-color;
            font-weight: 600;
            font-size: 2rem;
            line-height: 2.5rem;
            letter-spacing: 0px;
        }
        .section {
            padding-top: 4rem;
            padding-bottom: 4rem;
            .section-header {
                color: $primary-color;
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 2rem;
                letter-spacing: 0%;
            }
        }
    }
}
.form-row {
    .form-group {
        label {
            color: $primary-color;
            font-weight: 600;
            font-size: 0.75rem;
            line-height: 1rem;
            letter-spacing: 0px;
            padding-bottom: 0%;
            margin-bottom: 0;
        }
    }
}

.diseases-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    .header {
        color: $primary-color;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0%;
        // padding-bottom: 0%;
        margin-bottom: 1.5rem;
    }
    .form-check-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .form-check {
            width: 32%;
        }
    }
}

.form-check-label {
    color: $primary-color;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0px;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    div {
        opacity: 0.64;
        display: inline;
    }
}

.form-check-label input:checked ~ div {
    opacity: 1 !important;
}

.form-check-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.form-check-label .custom-checkbox {
    margin-bottom: 1rem;
    margin-left: -0.5rem;
    position: absolute;
    top: -0.25rem;
    left: 0px;
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: 1px solid $primary-color;
    border-radius: 0.5rem;
    opacity: 0.16;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.form-check-label input:checked ~ .custom-checkbox {
    background-color: $link-color;
    border-radius: 0.5rem;

    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid $link-color;
}

.form-check-label .custom-checkbox::after {
    position: absolute;
    content: '';
    left: 2rem;
    top: 2rem;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.form-check-label input:checked ~ .custom-checkbox::after {
    -webkit-transform: rotate(40deg) scale(1);
    -ms-transform: rotate(40deg) scale(1);
    transform: rotate(40deg) scale(1);
    opacity: 1;
    left: 10px;
    top: 6px;
    width: 8px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    background-color: transparent;
    border-radius: 0.125rem;

    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
